[Desktop Entry]
Version=1.0
Type=Application
Name=OpenWith (Torrent)
Comment=Open torrents and magnets with application selection
Exec=/path/to/openwith.rs --application/x-bittorrent -- %u
Terminal=false
NoDisplay=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
