[Desktop Entry]
Version=1.0
Type=Application
Name=Opener (Text)
Comment=Open text files with application selection
Exec=/path/to/openwith.rs --text/plain -- %f
Terminal=false
NoDisplay=true
MimeType=text/plain;
