[Desktop Entry]
Version=1.0
Type=Application
Name=OpenWith (Directory)
Comment=Open directories with application selection
Exec=/path/to/openwith.rs --inode/directory -- %f
Terminal=false
NoDisplay=true
MimeType=inode/directory;
