[Desktop Entry]
Version=1.0
Type=Application
Name=OpenWith (HTTP)
Comment=Open HTTP URLs with application selection
Exec=/path/to/openwith.rs --https -- %u
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/http;x-scheme-handler/https;
