[Desktop Entry]
Version=1.0
Type=Application
Name=OpenWith (E-book)
Comment=Open e-books and comics with application selection
Exec=/path/to/openwith.rs --application/epub+zip -- %f
Terminal=false
NoDisplay=true
MimeType=application/epub+zip;application/x-mobipocket-ebook;application/vnd.comicbook+zip;application/vnd.comicbook-rar;application/x-cbz;application/x-cbr;application/x-cb7;application/x-cbt;application/x-fictionbook+xml;
