[Desktop Entry]
Version=1.0
Type=Application
Name=OpenWith (Crypto)
Comment=Open keys and certificates with application selection
Exec=/path/to/openwith.rs --application/pkix-cert -- %f
Terminal=false
NoDisplay=true
MimeType=application/pkix-crl+pem;application/pkix-crl;application/pkix-cert+pem;application/pkix-cert;application/pkcs8+pem;application/pkcs8;application/pkcs7-mime+pem;application/pkcs7-mime;application/pkcs12+pem;application/pkcs12;application/pkcs10+pem;application/pkcs10;application/pgp-keys;application/x-x509-ca-cert;application/x-x509-user-cert;application/x-pem-key;application/x-pem-file;
